.polygon
{
    width: 100%;
    height: 400px;
    background: url('../images/I-Walked-On-Frozen-Baikal-The-Deepest-And-Oldest-Lake-On-Earth-To-Capture-Its-Otherworldly-Beauty-Again-5abcb476d1be9__880\ \(1\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(30% 0,100% 0,75% 100%, 0% 100%, 0 340px);
    position: relative;
    clip-path: circle(100px at 150px 150px);
}

.menu
{
    height: 60px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
}

.menu-item
{
    height: 100%;
    background-color: rgba(255,255,255,.7);
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-right: 1px solid lightblue;
    transition: .4s;
    
}

.menu-item:hover{
    clip-path: polygon(0 0, 36% 0, 50% 20%, 64% 0,100% 0,100% 100%,0 100%);
    
}

.flipcard
{
    width: 250px;
    height: 350px;
    position: absolute;
    perspective: 1000px;

}

.card{
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: .5s;
    backface-visibility: hidden; 
    position: absolute;
    left: 0;
    top: 0;

}

.front
{
    background:tomato;
}

.back
{
    background: turquoise;
    transform: rotateY(-180deg);
}
.flipcard:hover .front
{
    transform:rotateY(180deg);
}

.flipcard:hover .back
{
    transform:rotateY(0);
}
.test
{
    color: brown;
}