body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif; }

.header {
  width: 100%;
  height: 57px;
  background: rgba(143, 205, 220, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: fixed;
  left: 0;
  top: 0; }
  .header__content {
    width: 1024px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    @media screen and (max-width: 1024px) {
      .header__content {
        flex-direction: row-reverse;
        width: 100%;
        box-sizing: border-box;
        padding-left: 20px; } }
    .header__content .menu {
      width: 57px;
      height: 57px;
      background: rgba(255, 255, 255, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
      .header__content .menu__line {
        width: 37px;
        height: 6px;
        background-color: white;
        position: relative; }
        .header__content .menu__line::after {
          content: '';
          width: 37px;
          height: 6px;
          background-color: white;
          bottom: 11px;
          position: absolute;
          left: 0; }
        .header__content .menu__line::before {
          content: '';
          width: 37px;
          height: 6px;
          background-color: white;
          position: absolute;
          left: 0;
          top: 11px; }

.baner {
  width: 100%;
  height: 482px;
  background: url("../images/banner2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .baner__content {
    width: 1024px;
    height: 100%;
    box-sizing: border-box;
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row; }
    .baner__content-form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 390px;
      text-align: center; }
      .baner__content-form-text {
        color: white;
        font-size: 27px;
        margin-bottom: 27px; }
      .baner__content-form .search {
        width: 100%;
        position: relative; }
        .baner__content-form .search__input {
          width: 100%;
          height: 42px;
          outline: none;
          border: none;
          color: white;
          font-size: 21px;
          padding-left: 17px;
          box-sizing: border-box; }
          .baner__content-form .search__inputplaceholder {
            color: #bbbbbb; }
        .baner__content-form .search__img {
          width: 27px;
          position: absolute;
          top: 8px;
          right: 7px;
          z-index: 1; }

.create {
  width: 100%;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #e3e3e3; }
  .create__text {
    color: #8b8b8b;
    font-size: 37px;
    margin-right: 35px; }
  .create__button {
    background: #8fcddc;
    outline: none;
    color: white;
    font-size: 37px;
    font-weight: 100;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    width: 255px;
    height: 60px;
    user-select: none;
    cursor: pointer;
    transition: .4s; }
    .create__button:hover {
      background: rgba(143, 205, 220, 0.6); }

.category {
  padding: 36px 0 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .category__content {
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    @media screen and (max-width: 1024px) {
      .category__content {
        width: 100%; } }
    .category__content-title {
      font-size: 23px;
      text-transform: uppercase; }
    .category__content-items {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      margin-top: 32px; }
      .category__content-items .links {
        margin: 0;
        list-style-type: none; }
        .category__content-items .links__item {
          padding-bottom: 11px; }
          .category__content-items .links__item:last-child {
            padding-bottom: 0; }
          .category__content-items .links__item-link {
            text-decoration: none;
            color: #b9b9b9;
            font-size: 15px; }
            .category__content-items .links__item-link:active {
              color: black; }

.footer {
  width: 100%;
  height: 44px;
  background: #484242;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #adabab;
  font-size: 17px; }
