$main-color:#8fcddc;

@mixin flexalign ($hor:center,$vert:center,$pos:row){
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;
}

@mixin fontstyle ($color:black, $size:24px){
    color: $color;
    font-size: $size;
}
body{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.header
{
    width: 100%;
    height: 57px;
    background: rgba($main-color, .4);
    @include flexalign;
    position: fixed;
    left: 0;
    top: 0;

    &__content
    {
        width: 1024px;
        height: 100%;
        @include flexalign(space-between);
        @media screen and (max-width:1024px){
            flex-direction:row-reverse;
            width: 100%;
            box-sizing: border-box;
            padding-left: 20px;

        }
            
        
        .menu {
            width: 57px;
            height: 57px;
            background: rgba(255,255,255, 0.5);
    
            @include flexalign;
            
    
            &__line
            {
                width: 37px;
                height: 6px;
                background-color: white;
                position: relative;
    
                &::after{
                    content: '';
                    width: 37px;
                    height: 6px;
                    background-color: white;
                    bottom: 11px;
                    position: absolute;
                    left: 0;
    
                }
                &::before{
                    content: '';
                    width: 37px;
                    height: 6px;
                    background-color: white;
                    position: absolute;
                    left: 0;
                    top: 11px;
                }
             }
        }
    }
}
   

.baner{
    width: 100%;
    height: 482px;
    background: url('../images/banner2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include flexalign;
    

    &__content
    {
        width: 1024px;
        height: 100%;
        box-sizing: border-box;
        padding-left: 30px;
        @include flexalign(flex-start);

        &-form{
            @include flexalign($pos:column);
             width: 390px;
             text-align: center;

            &-text{
             @include fontstyle(white,27px);
             margin-bottom: 27px;
            }

            .search
            {
                width: 100%;
                position: relative;

                &__input
                {
                    width: 100%;
                    height: 42px;
                    outline: none;//отключает синюю обводку вокруг области, в которую вводится текст
                    border: none;
                    @include fontstyle(white,21px);
                    padding-left: 17px;
                    box-sizing: border-box;

                    &placeholder
                    {
                        color: #bbbbbb;
                    }

                }
                &__img
                {
                    width: 27px;
                    position: absolute;
                    top: 8px;
                    right: 7px;
                    z-index: 1;
                }

            }
        }
    }
}
.create
{
width: 100%;
height: 115px;
@include flexalign;
border-bottom: 1px solid #e3e3e3;


    &__text
    {
     @include fontstyle(#8b8b8b,37px);
     margin-right: 35px;
    }

    &__button
    {
      background: $main-color;
      outline: none;
      @include fontstyle(white, 37px);
      font-weight: 100;
      border: none;
      font-family: 'Roboto Condensed', sans-serif;
      width: 255px;
      height: 60px;
      user-select: none;
      cursor: pointer;
      transition: .4s;
        &:hover
         {
            background: rgba($main-color, .6);
        }
    }
   
}
.category
{
    padding: 36px 0 70px 0;
    @include flexalign;

    &__content{
        width: 1024px;
        @include flexalign($pos:column);
        @media screen and (max-width: 1024px){
            width: 100%;
        }


        &-title{
            font-size: 23px;
            text-transform: uppercase;
        }

       &-items{

         @include flexalign(space-around);
         margin-top: 32px;

         .links{
             margin: 0;
             list-style-type: none;
             
             &__item{

                 padding-bottom: 11px;

                 &:last-child{
                    padding-bottom: 0;
                 }

                 &-link
                 {
                     text-decoration: none;
                     color: #b9b9b9;
                     font-size: 15px;

                     &:active
                     {
                         color: black;
                     }
                 }
             }
         }
      }

    }

}

.footer
{
    width: 100%;
    height: 44px;
    background:#484242;
    @include flexalign ;
    color: #adabab;
    font-size: 17px;
}


